<!DOCTYPE html>
<html lang="zh" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>2019年1月冬季動畫新番表</title>
  <meta name="description" content="多羅羅,約定的夢幻島,五等分,輝夜姬,盾之勇者等2019年1月新番列表，並以每星期的放送時間做區隔，以及不一定會有的上季推薦作品。">
  <link rel="canonical" href="https://cjzopen.github.io/anime/season/2019-fuyu/">
  <meta property="og:title" content="動畫新番表" />
  <meta property="og:description" content="多羅羅,約定的夢幻島,五等分,輝夜姬,盾之勇者等2019年1月新番列表，並以每星期的放送時間做區隔，以及不一定會有的上季推薦作品。" />
  <meta property="og:image" content="https://cjzopen.github.io/anime/img/og.jpg" />
  <meta property="og:url" content="https://cjzopen.github.io/anime/season/2019-fuyu/" />
  <meta property="og:type" content="website" />
  <meta property="fb:pages" content="778565145612847">
  <meta property="fb:app_id" content="2262828757287171">
  <meta property="og:site_name" content="次元交錯">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../style.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-77969491-3"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-77969491-3');
</script>
<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "WebPage",
"url": "https://cjzopen.github.io/anime/season/2019-fuyu/",
"name": "2019年冬季 動畫新番表",
"description": "多羅羅,約定的夢幻島,五等分,輝夜姬,盾之勇者等2019年1月新番列表，並以每星期的放送時間做區隔，以及不一定會有的上季推薦作品。",
"sameAs" : "https://www.facebook.com/japaneseanimeshare/"
}
</script>
</head>
<body>
<div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v3.1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<div id="wrapper">
  <h1>2019冬季新番表</h1>
  <div>update: <time>2019-02-14</time></div>
  <div class="mb-5">
    <div class="fb-like" data-layout="button" data-action="recommend" data-size="large" data-show-faces="true" data-share="true"></div>
  </div>
  <section class="container-fluid mb-5">
    <!-- <div class="text-right pb-3"> -->
<!--       <select name="sel" id="select" @change="select_day()" v-model="theday">
        <option value="" selected disabled hidden>DAY</option>
        <option value="w7">週日</option>
        <option value="w1">週一</option>
        <option value="w2">週二</option>
        <option value="w3">週三</option>
        <option value="w4">週四</option>
        <option value="w5">週五</option>
        <option value="w6">週六</option>
      </select> -->
    <template v-for="item in week">
      <input type="radio" :id="item.code" class="d-none day-check" name="day-check" :value="item.code" @click="select_day" :checked="item.code == theday"><label class="d-inline-block mr-3 mb-2 px-4 py-2" :for="item.code">{{ item.chinese }}</label>
    </template>
      <!-- <input type="radio" id="w7" class="d-none day-check" name="day-check" value="w7"  :checked="this.id == theday"><label class="d-inline-block mr-3 mb-2 px-4 py-2" for="w7">週日</label>
      <input type="radio" id="w1" class="d-none day-check" name="day-check" value="w1"  :checked="this.id == theday"><label class="d-inline-block mr-3 mb-2 px-4 py-2" for="w1">週一</label>
      <input type="radio" id="w2" class="d-none day-check" name="day-check" value="w2"  :checked="this.id == theday"><label class="d-inline-block mr-3 mb-2 px-4 py-2" for="w2">週二</label>
      <input type="radio" id="w3" class="d-none day-check" name="day-check" value="w3"  :checked="this.id == theday"><label class="d-inline-block mr-3 mb-2 px-4 py-2" for="w3">週三</label>
      <input type="radio" id="w4" class="d-none day-check" name="day-check" value="w4"  :checked="this.id == theday"><label class="d-inline-block mr-3 mb-2 px-4 py-2" for="w4">週四</label>
      <input type="radio" id="w5" class="d-none day-check" name="day-check" value="w5"  :checked="this.id == theday"><label class="d-inline-block mr-3 mb-2 px-4 py-2" for="w5">週五</label>
      <input type="radio" id="w6" class="d-none day-check" name="day-check" value="w6"  :checked="this.id == theday"><label class="d-inline-block mr-3 mb-5 px-4 py-2" for="w6">週六</label> -->
    <!-- </div> -->
    <div class="row list">
      <div class=""></div>
      <template v-for="(item, index) in items[0]['2019-fuyu']">
        <div :class="'animes col-12 col-sm-6 col-md-4 col-lg-4 mb-3 '+ item.day">
          <div class="card h-100 flex-row">
            <figure class="col col-md-4 p-0 m-0 h-100">
              <img class="w-100 lazyload" :data-src="item.img" :alt="item.title">
            </figure>
            <div class="card-body col-12 col-md-8">
              <h2 class="card-title h5">{{ item.title }}</h2>
              <a class="btn btn-info text-light" :href="item.link.replace(/\s/g, '')" rel="noopener" target="_blank" title="官網">官網</a>
              <p class="card-text" v-if="item.words.length">
                <template v-for="(word, index) in item.words">
                  <span class="d-inline-block m-1">{{ word }}</span>
                </template>
              </p>
            </div>
          </div>
        </div>
      </template>
    </div>
    <div class="pt-3 text-info"><small>* 週一 18:00~週二04:00 皆視為週一</small></div>
  </section>
  <section class="container-fluid my-5">
    <!-- <h2>上季推薦</h2> -->
    <div class="row">
        <!-- <div v-for="(item, index) in lasts" class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3" >
            <div class="card h-100">
              <figure class="ratio-box card-img-top">
                <img class="img-fluid lazyload" :data-src="item.img" :alt="item.title">
              </figure>
              <div class="card-body pt-0">
                <h3 class="card-title h5">{{ item.title }}</h3>
                <p class="card-text"></p>
              </div>
            </div>
        </div> -->
    </div>
  </section>
  <aside class="my-5">
    <div class="fb-page mb-4" data-href="https://www.facebook.com/japaneseanimeshare/" data-tabs="timeline, messages" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/japaneseanimeshare/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/japaneseanimeshare/">次元交錯</a></blockquote></div>
    <details>
      <summary>相關連結</summary>
      <ol class="disc">
        <li><a href="https://www.nicovideo.jp/watch/sm34338990" target="_blank" title="日文">PV導覽(12/22)</a></li>
        <li><a href="https://www.youtube.com/watch?v=FPZPfy0rOQE" target="_blank" title="日文">PV導覽(12/11)</a></li>
        <li><a href="https://www.youtube.com/watch?v=lJcRgEAP8jw" target="_blank" title="A Jie">A Jie新番推薦(1/6)</a></li>
        <li><a href="https://www.bilibili.com/video/av39422240" target="_blank" title="泛式">泛式新番推薦(12/30)</a></li>
        <li><a href="https://www.bilibili.com/video/av37900106/" target="_blank" title="壁吧">壁吧新番導覽(12/11)</a></li>
        <li><a href="https://www.bilibili.com/video/av36500943/" target="_blank" title="lex">lex 新番導覽(11/22)</a></li>
        <li><a href="https://www.livechart.me/" target="_blank">LiveChart.me</a></li>
      </ol>
    </details>
    <a href="../2019-haru/">春番→</a>
  </aside>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js" defer></script>
<script src="../data.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.1.2/lazysizes.min.js" defer></script>
</body>
</html>
